.WeatherForecast {
  text-align: center;
  line-height: 20px;
  margin-bottom: 5px;
}

.WeatherForecast-temperatures {
  font-size: 16px;
}

.WeatherForecaste-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.style-image {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.WeatherForecast-day {
  font-size: 16px;
}
